<body>
  <div class="col-8 offset-2">
    <br /><br />

    <h1>Create New Job Post</h1>
    <% if (error) { %>
        <div class="alert alert-danger">
        <%= error %>
        </div>
        <% } %>
    <form
      method="post"
      action="/addListing"
      class="needs-validation"enctype="multipart/form-data"
      novalidate
    >
      <div class="form-group">
        <label for="title">Job Title</label>
        <input
          name="job[title]"
          class="form-control"
          placeholder="e.g. 2BHK Plastering Work"
          id="title"
          required
        />
        <div class="invalid-feedback">Title is required.</div>
      </div>

      <div class="form-group">
        <label for="description">Work Description</label>
        <textarea
          class="form-control"
          name="job[description]"
          placeholder="Explain the work clearly"
          id="description"
          rows="4"
          required
        ></textarea>
        <div class="invalid-feedback">Description is required.</div>
      </div>

      <div class="form-group">
        <label for="workType">Work Type</label>
        <select
          class="form-control"
          name="job[workType]"
          id="workType"
          required
        >
          <option value="">Select work type</option>
          <option>Masonry</option>
          <option>Plumbing</option>
          <option>Electrical</option>
          <option>Painting</option>
          <option>Carpentry</option>
          <option>Other</option>
        </select>
        <div class="invalid-feedback">Select work type.</div>
      </div>

      <div class="row">
        <div class="form-group col-4">
          <label>Building Type</label>
          <select
            class="form-control"
            name="job[buildingType]"
            required
          >
            <option value="">Select</option>
            <option>Independent House</option>
            <option>Apartment</option>
            <option>Commercial</option>
          </select>
        </div>

        <div class="form-group col-4">
          <label>Floors</label>
          <input
            type="number"
            class="form-control"
            name="job[floors]"
            min="1"
            required
          />
        </div>

        <div class="form-group col-4">
          <label>Area (sq.ft)</label>
          <input
            type="number"
            class="form-control"
            name="job[areaSqFt]"
            min="100"
            required
          />
        </div>
      </div>

      <div class="row">
        <div class="form-group col-4">
          <label>City</label>
          <input
            class="form-control"
            name="job[city]"
            required
          />
        </div>

        <div class="form-group col-4">
          <label>Area</label>
          <input
            class="form-control"
            name="job[area]"
            required
          />
        </div>

        <div class="form-group col-4">
          <label>Landmark</label>
          <input
            class="form-control"
            name="job[landmark]"
          />
        </div>
      </div>

      <div class="row">
        <div class="form-group col-6">
          <label>Workers Required</label>
          <input
            type="number"
            class="form-control"
            name="job[workersRequired]"
            min="1"
            required
          />
        </div>

        <div class="form-group col-6">
          <label>Skill Level</label>
          <select
            class="form-control"
            name="job[skillLevel]"
            required
          >
            <option value="">Select</option>
            <option>Helper</option>
            <option>Skilled</option>
            <option>Supervisor</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-4">
          <label>Wage / Day (₹)</label>
          <input
            type="number"
            class="form-control"
            name="job[wagePerDay]"
            min="100"
            required
          />
        </div>

        <div class="form-group col-4">
          <label>Payment Type</label>
          <select
            class="form-control"
            name="job[paymentType]"
            required
          >
            <option>Daily</option>
            <option>Weekly</option>
            <option>Contract</option>
          </select>
        </div>

        <div class="form-group col-4">
          <label>Food Provided</label>
          <select
            class="form-control"
            name="job[foodProvided]"
          >
            <option value="false">No</option>
            <option value="true">Yes</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-6">
          <label>Start Date</label>
          <input
            type="date"
            class="form-control"
            name="job[startDate]"
            required
          />
        </div>

        <div class="form-group col-6">
          <label>Duration (days)</label>
          <input
            type="number"
            class="form-control"
            name="job[durationDays]"
            min="1"
            required
          />
        </div>
      </div>

      <div class="form-group">
        <label>Upload Building Photos</label>
        <input
          type="file"
          class="form-control"
          name="job[image]"
          accept="image/*"
        />
      </div>

      <br />

      <button class="btn btn-dark mb-2">
        Create Job Post
      </button>
    </form>
  </div>
</body>