
<body>

    <% if (error) { %>
        <p style="color: red;"><%= error %></p>
    <% } %>
    <h1>Signup</h1>
    <form action="/Signup" method="POST">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <label for="role">Role:</label>
        <select id="role" name="role" required>
            <option value="WORKER">Worker</option>
            <option value="BUILDER">Builder</option>
        </select>
        <br>
        <button type="submit">signup</button>
    </form>
    
</body>
